<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{block title|striptags|upper}Nette Application Skeleton{/block}</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
	<link rel="stylesheet" media="print" href="{$basePath}/css/print.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{block head}{/block}
</head>

<body>
	<script> document.documentElement.className+=' js' </script>

        <ul>
            <li><a href="{link Homepage:default}" class="ajax">jedna</a></li>
            <li><a href="{link Homepage:two}" class="ajax">dva</a></li>
            <li><a href="{link Homepage:three}" class="ajax">tri</a></li>
        </ul>
        
	<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
        
        {snippet content}
            <div id="content">        
                {include content}        
            <div>
        {/snippet}

	{block scripts}
	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/nette.ajax.js"></script>
	{*<script src="{$basePath}/js/history.ajax.js"></script>*}
	<script src="{$basePath}/js/main.js"></script>        
	{/block}
</body>
</html>
